body {
  font-family: 'Mukta', sans-serif;
  font-family: 'Raleway', sans-serif;
    color: #272829;
  }
  
  a {
    color:white;
    text-decoration: none;
  }
  a:hover {
    color:  goldenrod;;
    text-decoration: none;
  }
  
    
  #header{
  height: 100%;
  background-color: #3e2274;
  }        
  .rounded-circle{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 20px;
    
  }
  .profile{
    text-align: center;
    margin-top: 150px;
  }
 
  .personal-data {
    padding-bottom: 100px;
    padding-top: 20px;
    border-bottom: 2px solid #2d3047;
  }
  
  .color-borde{
  border-bottom: 4px solid #3e2274;
  margin-bottom: 20px;
  font-weight: 500;

  }

  .card-img-top{
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: #272829;
   
  }
   .card:hover {
    background-color:rgba(0, 255, 255, 0.426);
    opacity: 1;
    width: 100px;
  }
   
  /* .card-img-top{
    position: relative;
    overflow: hidden;
    
  } */
  /* .card-img-top::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
   
  }
 
  .card-img-top:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  } */
 
  
 
    